// Navigation Styles here
header {
  display: flex;
  border-bottom: 2px dashed @navigation-border;
  justify-content: center;
  padding: 20px 0;

  @media @mobile {
    padding: 10px 0;

    h1 {
      margin-bottom: 10px;
    }
  }

  .header-content {
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media @mobile {
      flex-direction: column;
    }
  } 

  nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .media-width-mobile()
  }

  a {
    text-decoration: none;
    color: @font-color;
    font-size: @font-size;
  }
}